


/* footer */

.footer-section-box{
    padding: 70px 0;
}


.tel-box{
    color: #4a4a64;
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}

.email-contato{
   color: #4a4a64;
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 18px;
}

.endereco-box{
    font-size: 14px;
    color: #1dbfd7;
    font-family: 'Avenir';
    font-weight: 500;
    margin: 8px 0;
}

.redessociais{
    text-align: center;
}

.rede1{

}

.enderecos{
  margin-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: solid #e0e0e0 1px;
  padding-bottom: 25px;
}

.redes-list{
    display: inline-table;
    padding: 0;
}

.redes-list-box{
    display: table;
    margin:  0 auto;
}

.rede{
    padding: 0 4px;
}

.idioma-list{
    display: inline-table;
    padding: 0;
}

.idioma-list-box{
    display: table;
    margin: 5px auto;
}

.idioma, .idioma a{
    color: #4ec0b1;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 18px;
    padding: 0 2px;
}

.copyright-text p{
    color: #928d9f;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}






