/* menu */

.navbar-custom .navbar-toggle .icon-purple{
  background-color: #a36fae;
}

.contato-purple{
  color: #a36fae;
}

.contato-purple:hover, .contato-purple:focus{
    color: #a36fae;
    text-decoration: none;
}

.navbar-white{
  background-color: #ffffff;
}